<nav class="d-md-block col-md-2 bg-light sidebar" >
  <div class="sidebar-sticky mt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Products', administrator_products_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Orders', administrator_orders_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</nav>